:root {
    --border-color: #ddd;
}

html {
    font-size: 60%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

/*Custom*/

a {
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    font-family: inherit;
    cursor: pointer;
}

button:focus {
    outline: none;
}

/*navbar*/

.nav {
    width: auto;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.3rem;
}

.nav-left,
.nav-right {
    display: flex;
}
  
  .nav-right {
    margin-right: 3rem;
}

.nav-link {
    margin-right: 1.5rem;
    opacity: 0.85;
}
  
.nav-link:hover {
    text-decoration: underline;
}
  
.button-apps {
    width: 30px;
    height: 30px;
    margin-right: 1.5rem;
    background-color: #fff;
    background-image: url("//ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-position: -132px -38px;
    opacity: 0.5;
}
  
.button-apps:hover,
.button-apps:focus {
    opacity: 0.85;
}
  
.user-avatar img {
    height: 34px;
    width: 34px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 3rem;
}
  
.user-avatar:hover img {
    border: 1px solid #aaa;
}
  
/* main */
  
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15rem;
}
  
.logo {
    width: 272px;
    height: 92px;
    margin-bottom: 3rem;
}
  
.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 580px;
    padding: 1rem;
    padding-right: 1.5rem;
    border: 0.1px solid var(--border-color);
    border-radius: 30px;
}
  
.searchbar:hover,
.searchbar:focus-within {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
  
.search-icon {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
}
  
.search-input {
    width: 90%;
    font-size: 1.6rem;
}
  
  .microphone-icon {
    width: 25px;
    height: 25px;
}
  
.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
}
  
.button-search {
    min-width: 54px;
    height: 36px;
    padding: 0 2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 0.7rem;
    background-color: var(--button-search-background);
    color: var(--button-search-font);
    font-size: 1.4rem;
}
  
.button-search:hover {
    border-color: #dadce0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

/* footer */
  
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--border-color);
    background: var(--footer-background);
    color: var(--footer-font);
    font-size: 1.4rem;
}
  
.left-section,
.right-section {
    display: flex;
}
  
  .right-section {
    margin-right: 3rem;
}
  
.footer-link {
    display: block;
    padding: 1rem 0 1rem 3rem;
}